body {
    background-color: #fff;
    color: #000;
}

#root {
    display: flex;
    flex-direction: column;
}

/* 타이틀 */
.root-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #f0f0f0;
    padding: 20px;
}

.title-text {
    font-size: 36px;
}

.title-btn {
    width: 80px;
    height: 40px;
    background-color: #ddd;
    border-radius: 5px;
    margin-left: 10px;
    color: #aaa;
}

.reset-btn {

}

.back-btn {

}

/* 컨텐츠 */
.root-content {
    height: calc(100vh - 100px);
    background-color: #fff;
}

