body {
    background-color: #fff;
    color: #000;
}

#root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* 타이틀 */
.root-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #222;
    padding: 20px;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-text {
    font-size: 36px;
    color: #fff;
}

.title-step {
    font-size: 12px;
    color: #fff;
}

.title-btn {
    width: 60px;
    height: 32px;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 12px;
    cursor: pointer;
}

.reset-btn {
    background-color: #555;
    color: #fff;
}

.back-btn {
    background-color: #f70c34;
    color: #fff;
}

/* 컨텐츠 */
.root-content {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #fff;
    overflow: hidden;
}

.step {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    width: 100%;
    height: calc(100% - 50px);
    flex: 1;
    display: flex;
}

.next-btn {
    width: 100%;
    height: 50px;
    background-color: #36c;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.light {
    background-color: #F5E960;
    color: #000 !important;
}

.dark {
    background-color: #392F5A;
}

.fire {
    background-color: #F24236;
}

.water {
    background-color: #2176FF;
}

.tree {
    background-color: #5C8001;
}

/* 스텝 1 */
.s1-left {
    width: 200px;
    height: 100%;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: scroll;
}

.s1-our-products-title {
    text-align: center;
    font-size: 18px;
    color: #000;
}

.s1-delete-desc {
    text-align: center;
    font-size: 12px;
    color: #888;
}

.s1-our-product {
    width: 100%;
    border-radius: 20px;
    padding: 16px;
    background-color: #666;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.s1-our-product:hover {
    background-color: #aaa;
}

.s1-right {
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    padding: 20px;
}

.s1-right-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.s1-products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    column-gap: 20px;
    row-gap: 20px;
}

.s1-product {
    color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    padding: 20px;
}

.normal {
    background-color: #333;
}

.s1-product:hover {
    opacity: 0.8;
}

.s1-product-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.s1-product-reward {
    font-size: 12px;
    margin-top: 6px;
}

/* 스텝 2 */
.s2-wrapper {
    overflow-x: scroll;
    padding: 20px;
}

.s2-product {
    width: 300px;
    height: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    flex: none;
    flex-direction: column;
    align-items: center;
    color: #fff;
    overflow: hidden;
}

.s2-dup {
    opacity: 0.2;
}

.s2-product:not(:first-child) {
    margin-left: 10px;
}

.s2-product-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.s2-product-rewards {
    text-align: center;
}

.s2-product-reward {
    font-size: 14px;
    margin-bottom: 6px;
}

.s2-members {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border-radius: 20px;
    background-color: #222;
    color: #fff;
    overflow: hidden;
}

.s2-member-list {
    width: 100%;
    overflow-y: scroll;
    background-color: #fff;
    border-radius: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.s2-member {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    border-bottom: 1px solid #eee;
}

.s2-member:first-child {
    border-top: 1px solid #eee;
}

.s2-total-members {
    width: 60px;
    height: 40px;
    font-size: 12px;
    color: #000;
    display: flex;
    align-items: center;
}

.s2-current-members {
    color: #36c;
    font-weight: bold;
}

.s2-target-bottom {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.s2-target-btns {
    display: flex;
}

.s2-target-btn {
    height: 40px;
    border-radius: 10px;
    padding: 0 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.s2-target-btn:first-child {
    margin-right: 10px;
}

.s2-member-btn {
    height: 30px;
    border-radius: 10px;
    padding: 0 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.s2-include-btn {
    background-color: #36c;
    color: #fff;
}

.s2-exclude-btn {
    background-color: #F24236;
    color: #fff;
}

/* 스텝 3 */
.step-3 {

}
